@model ComplaintsManagement.UI.Models.TaskResult<List<ComplaintsManagement.Infrastructure.DTOs.CostumersDto>>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Mantenimiento de Clientes</h2>
    <h4>Listado de Clientes</h4>
    <div class="row">

        <div class="col-lg-offset-10"></div>
        <div class="col-lg-12">
            <button class="btn btn-default">@Html.ActionLink("Agregar", "Create")</button>
        </div>

    </div>
    <hr />
    <div class="row" style="margin-top: 2rem;">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Cédula</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.Data)
                    {
                        <tr>
                            <td>@customer.Id</td>
                            <td>@customer.Name</td>
                            <td>@customer.LastName</td>
                            <td>@customer.Email</td>
                            <td>@customer.DocumentNumber</td>
                            <td>@customer.PhoneNumber</td>
                            <td><button data-id="@customer.Id" class="btn btn-danger customer_delete_btn">Eliminar</button> <button class="btn btn-warning">Editar</button> </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}
<script>

    const customer_delete_btn = document.querySelector(".customer_delete_btn");

    if (customer_delete_btn) {
        customer_delete_btn.addEventListener("click", () => {

            let { id } = customer_delete_btn.dataset;


            if (confirm("¿Está seguro de eliminar el registro?")) {
                console.log(id);
                fetch(`@Url.Action("delete", "customers", null, Request.Url.Scheme)?id=${id}`).then((data) => data.json())
                    .then(data => {
                        console.log(data);
                        window.location.reload();
                    })
                    .catch(err => alert(err));
            }
        });

    }   

  


</script>