@model ComplaintsManagement.UI.Models.TaskResult<ComplaintsManagement.Infrastructure.DTOs.ComplaintsDto>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-primary d-flex justify-content-between">
        <div>
            <h3 class="text-white">Detalles del Reclamo o Queja</h3>
        </div>
        <div class="d-flex">
            <div class="alert alert-warning mr-2">Estado: <span class="font-weight-bold">@Model.Data.Status.Name</span> </div>
            <div class="alert alert-warning">Tipo Ticket: <span class="font-weight-bold">@Model.Data.TicketType.Description</span> </div>
        </div>
    </div>
    <div class="container">
        <div class="row card-body">
            <div class="col-12">
                <div class="form-group">
                    <h5>Cliente: </h5>
                    <h5 class="font-weight-bold">@Model.Data.Customer.Name @Model.Data.Customer.LastName</h5>
                    <hr />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <h5>Departamento Responsable:</h5>
                    <h5 class="font-weight-bold">@Model.Data.Deparment.Name</h5>
                    <hr />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <h5>Fecha de creación:</h5>
                    <h5 class="font-weight-bold">@Model.Data.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</h5>
                    <hr />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <h5>Producto reportado:</h5>
                    <h5 class="font-weight-bold">@Model.Data.Product.Name</h5>
                    <hr />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <h5>Razón:</h5>
                    <h5 class="font-weight-bold">@Model.Data.ComplaintsOption.Name</h5>
                    <hr />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <h5>Comentario del cliente:</h5>
                    <h5 class="font-weight-bold">@Model.Data.Comment</h5>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <div class="card-header bg-primary d-flex justify-content-between">
        <div>
            <h3 class="text-white">Bitácora</h3>
        </div>
    </div>
    <div class="container card-body">
        <div class="row ">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var binnacle in Model.Data.Binnacles)
                        {
                            <tr>
                                <td>@binnacle.User.Name @binnacle.User.LastName</td>
                                <td>@binnacle.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</td>
                                <td>@binnacle.Status.Name.ToUpper()</td>
                                <td>@binnacle.Comment.ToUpper()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr/>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Comentario de seguimiento."></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button class="btn btn-primary">Agregar comentario</button>
                </div>
            </div>
        </div>
    </div>
  
</div>


