<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Complaints Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                @Html.ActionLink("ComplaintsManagement", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    
    <div class="row" style="background-color: #E9ECEF;">
        @if (User.Identity.IsAuthenticated)
        {
            <aside class="col-2 w-100 vh-100 bg-sidebar">
                @Html.Partial("_Sidebar")
            </aside>
        }


        <div class="col-9 ml-auto mr-auto mt-3 vh-86">@RenderBody()</div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/select2")
    @RenderSection("scripts", required: false)
</body>
</html>
